*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    /* colors */
    --clr-header: #2e323f;
    --clr-primary: #3b4050;
    --clr-secondary: #faf8ef;
    --clr-accent: #a59678;
    --clr-fonts-light: #fff;

    /* font-family */
    --ff-bold: 'Oswald', sans-serif;
    --ff-regular: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: var(--ff-regular);
}

h1,
h2,
h3 {
    font-family: var(--ff-bold);
    margin-bottom: 0;
    line-height: 1.1;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0.5em;
}

a {
    text-decoration: none;
    color: unset;
}

a:hover,
a:active {
    opacity: 0.7;
}

img {
    max-width: 100%;
}

/* Global classes */

.btn {
    background-color: var(--clr-accent);
    font-family: var(--ff-bold);
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.3em 1em;
    border-radius: 100px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    padding: 2.5rem 5%;
}


/* Local / Individual Scope Styling */

header {
    background-color: var(--clr-header);
    color: white;
    text-align: center;
    font-size: 1.125rem;
}

header .container {
    padding: 1rem 5%;
}

.hamburger {
    width: 40px;
    height: 30px;
    box-shadow: 0 5px inset,0 -5px inset, 0 -12.5px inset var(--clr-header), 0 -17.5px inset;
    position: absolute;
}

.hamburger:hover {
    opacity: 0.7;
}

.hamburger-active {
    opacity: 0.5;
}

nav.hidden {
    display: none;
}

.nav__lists {
    margin-block: 0.5em;
    gap: 0.5em;
}

.nav__items {
    margin-top: 0.2em;
}

.primary-list {
    margin-block: 1.5em;
}

.secondary-list li:last-child {
    margin: 1em;
}


/* hero section */
.hero, footer {
    background-color: var(--clr-primary);
    color: var(--clr-fonts-light);
}

.hero__text h1 {
    font-size: 2rem;
}

.hero__text span {
    color: var(--clr-accent)
}

.hero__description .btn {
    display: inline-block;
    margin-block: 0.5rem;
    font-size: 1.125rem;
}


/* section two */
.section-two {
    background-color: var(--clr-secondary);
}

.section-two h2 {
    color: var(--clr-accent);
}


/* main */
.main__section-one  h2{
    color: var(--clr-accent);
    font-size: 1.75rem;
}

.main__section-two {
    gap: 1em;
    color: var(--clr-fonts-light);
    text-align: center;
}

.main__section-two__card {
    background-color: var(--clr-primary);
    padding: 1em 3em;
}


/* footer */
footer .footer__title {
    font-size: 1.75rem;
}

.footer__details {
    flex-direction: row;
    flex-wrap: wrap;
}

.footer__detail h3 {
    color: var(--clr-accent);
    font-size: 1.25rem;
}



/* MEDIA QUERIES */
/* For screen size greater than 600px */

@media (min-width: 700px) {
    
    .row {
        flex-direction: row;
        gap: 0.5em;
    }
    
    /* header */
    .hamburger {
        display: none;
    }

    .header__logo {
        float: left;
        /* margin-right: 2rem; */
    }

    nav.hidden {
        display: flex;
        justify-content: end;
        gap: 2em;
    }

    .nav__lists {
        margin-block: 0;
        gap: 2em;
    }
    
    .nav__items {
        margin-top: 0;
    }
    
    .primary-list {
        margin-block: 0;
    }
    
    .secondary-list li:last-child {
        margin: 0;
    }

    .hero__text {
        gap: 1.5em;
    }

    .hero__text h1 {
        margin: 0;
        font-size: 2.25rem;
    }
    

    /* main */
    main > .row {
        flex-wrap: wrap;
    }
    
    .main__section-two {
        display: flex;

    }
    
    .main__section-two__card {
        padding: 1em 1.5em;
    }

    .main__section-two__card h2 {
        font-size: 1.35rem;
    }
    
}